html,
body,
#map {
	height: 100%;
	width: 100vw;
	z-index: 0;
}
/* 
.navbar {
	height: 48px;
} */

#map {
	height: calc(100% - 64px);
}

.leaflet-touch .leaflet-bar a {
	width: 40px;
	height: 40px;
	line-height: 40px;
}