:root {
	--accent-color: #003660;
	--text-color: #000000;
	--manifold-color: #e1e1e1;
	--std-font: "Open Sans";
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--std-font);
}

p {
	color: var(--text-color);
}

html,
body,
#map {
	height: 100%;
	width: 100vw;
	z-index: 0;
}

.sidebar-tabs {
	height: 120px;
}

#sidebar {
	border: none;
}

#sidebar.collapsed {
	height: 120px;
}

.sidebar-tabs>li.active,
.sidebar-tabs>ul>li.active {
	color: #fff;
	background-color: var(--accent-color);
}

.sidebar-header {
	background-color: var(--accent-color);
}

.leaflet-control-layers {
	border: none !important;
	background: none !important;
}

.leaflet-touch .leaflet-bar a {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 40px;
	margin: 0px;
	border: none !important;
	color: #000000;
}

.leaflet-layerstree-header-name {
	font-size: 12pt;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 0px;
}

.leaflet-layerstree-header {
	width: auto;
	display: block;
}

.leaflet-layerstree-children {
	padding-left: 30px;
}

.leaflet-container {
	font-size: 12pt !important;
	font-family: var(--std-font) !important;
}

input[type='checkbox'],
input[type='radio'] {
	accent-color: var(--accent-color);
}

a:link,
a:visited {
	color: var(--accent-color);
}

.leaflet-control-layers .expanded {
	margin-left: 0px;
}