:root {
	--accent-color: #003660;
	--text-color: #000000;
	--manifold-color: #e1e1e1;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--std-font);
}

p {
	color: var(--text-color);
}

html,
body,
#map {
	height: 100%;
	width: 100vw;
	z-index: 0;
}

.leaflet-control-layers {
	border: none !important;
	background: none !important;
	box-shadow: none;
}

.leaflet-touch .leaflet-bar a {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 40px;
	margin: 0px;
	border: none !important;
	color: #000000;
}

.leaflet-layerstree-header-name {
	font-size: 12pt;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 0px;
}

.leaflet-layerstree-header {
	width: auto;
	display: block;
}

.leaflet-layerstree-children {
	padding-left: 30px;
}

.leaflet-container {
	font-size: 8pt !important;
	font-family: var(--std-font) !important;
}

input[type='checkbox'],
input[type='radio'] {
	accent-color: var(--accent-color);
}

a:link,
a:visited {
	color: var(--accent-color);
}

.leaflet-control-layers .expanded {
	margin-left: 0px;
}

#navbar-top {
	background-color: var(--manifold-color);
}

.leaflet-control-layers-overlays {
	overflow-y: scroll;
}

@media screen and (max-width: 1023px) {
  .navbar-dropdown {
    display: none;
  }

  .navbar-item.has-dropdown.is-active .navbar-dropdown {
    display: block;
  }
}